{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Tout les Nains</h1>
    <table id="tab" class="table table-striped table-bordered table-hover tableau-donnees" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Taille</th>
            <th scope="col">Mine</th>
        </tr>
        </thead>
        <tbody>
        {% for nain in nains %}
            <tr class="ligne">
                <th>{{nain.id}}</th>
                <td>{{nain.nom}}</td>
                <td>{{nain.taille}}</td>
                <td>{{nain.mine.nom}}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('data-tables') }}
{% endblock %}
